@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;
}

@layer base {
  body {
    @apply bg-[#FAFAFA] text-slate-900 antialiased min-h-screen overscroll-none selection:bg-pink-200 selection:text-slate-900 transition-colors duration-300;
  }
}
